<%- include('partials/header.ejs') %>
<%- include('partials/navbar.ejs') %>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

    body {
        background-color: #111111; /* Fundo preto elegante */
        font-family: 'Montserrat', sans-serif; /* Fonte estilosa */
        color: #f5f5f5; /* Cor de texto branco */
    }
    
    .card {
        background: #222; /* Fundo cinza escuro */
        border-radius: 5px;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Sombra leve */
        padding: 1.5rem;
        margin-top: 2rem; /* Espaçamento superior */
    }

    .card-header {
        background-color: #ff6600; /* Cabeçalho laranja */
        color: white;
        border-radius: 5px 5px 0 0;
        padding: 1rem;
    }

    table {
        width: 100%; /* Tabela ocupa toda a largura do card */
        border-collapse: collapse; /* Colapsa as bordas */
    }
    th, td {
        padding: 1rem; /* Espaçamento interno */
        text-align: left; /* Alinhamento à esquerda */
    }
    th {
        background-color: #343a40; /* Cabeçalho escuro */
        color: white; /* Texto branco */
    }
    tr:hover {
        background-color: rgba(255, 102, 0, 0.2); /* Efeito de hover nas linhas */
    }
    img {
        width: 30px; /* Tamanho da imagem */
        border-radius: 50%; /* Imagem redonda */
    }
</style>

<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            <h1 class="h5">Pedidos</h1>
        </div>
        <div class="card-body">
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>Número:</th>
                        <th>Valor:</th>
                    </tr>
                </thead>
                <tbody>
                    <% pedidos.forEach(pedido => { %>
                    <tr>
                        <td style="filter: invert();"><img src="imgs/order.png" alt="Pedido"></td>
                        <td class="text-light"><%= pedido.numero %></td>
                        <td class="text-light"><%= pedido.valor.toLocaleString('pt-br', {style: 'currency', currency: 'BRL'}) %></td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</div>

<%- include('partials/footer.ejs') %>
