<%- include('partials/header.ejs') %>
<%- include('partials/navbar.ejs') %>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

    body {
        background-color: #111111; /* Fundo preto elegante */
        font-family: 'Montserrat', sans-serif; /* Fonte estilosa */
        color: #f5f5f5; /* Cor de texto branco */
    }
    
    .card {
        background: #222; /* Fundo cinza escuro */
        border-radius: 5px;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Sombra leve */
        margin: 0.5rem; /* Espaçamento entre os cards */
        padding: 1rem; /* Espaçamento interno */
        flex: 1 1 calc(25% - 1rem); /* Flexibilidade dos cards */
    }

    .card img {
        width: 100%; /* Tamanho da imagem ocupando todo o card */
        height: auto; /* Altura automática para manter proporções */
        border-radius: 5px; /* Bordas arredondadas */
    }

    .product-container {
        display: flex; /* Usar flexbox para disposição */
        flex-wrap: wrap; /* Permitir que os cards se movam para a linha de baixo */
        justify-content: space-between; /* Espaçar os cards */
    }

    h1 {
        margin-top: 2rem; /* Margem superior */
        text-align: center; /* Centralizar título */
        color: #ff6600; /* Cor do título laranja */
    }
</style>

<div class="container">
    <h1 class="h5">Produtos</h1>
    <div class="product-container">
        <% produtos.forEach(produto => { %>
        <div class="card">
            <div class="card-body">
                <img src="<%= produto.imagem %>" alt="<%= produto.nome %>"> <!-- Usando a imagem do array -->
                <h5 class="text-light mt-4"><%= produto.nome %></h5>
                <p class="text-light">Preço: <%= produto.preco.toLocaleString('pt-br', {style: 'currency', currency: 'BRL'}) %></p>
                <p class="text-light">Categoria: <%= produto.categoria %></p>
            </div>
        </div>
        <% }) %>
    </div>
</div>

<%- include('partials/footer.ejs') %>
